/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--white-color-00: #fff;
	--gray-color-00: #bbb;
	--primary-color: #00c16c;
	--secondary-color: #004443;
	--black-color-00: #000;

	/* Font Family */
	--main-ff: 'Titillium Web', serif;
	--text-ff: 'Montserrat', serif;

	/* Font Size */
	--sm-fs: 0.875rem;
	--base-fs: 0.975rem;
	--lg-fs: 1.175rem;
	--xl-fs: 1.5rem;
	--xxl-fs: 2.65rem;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
	--input-pi: 0.85rem;
	--input-pb: 0.55rem;

	/* Transition */
	--btn-tr: 0.45s ease-in-out;

	/* Border Radius */
	--light-radius: 0.35rem;
	--circle-radius: 50%;

	/* Box Shadow */
	--secondary-bs: 2px 2px 25px 15px rgba(0, 68, 67, 0.07);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--white-color-00);
	overflow-x: hidden;
	font-size: var(--base-fs);
	color: var(--white-color-00);
	background-color: var(--primary-color);
	font-family: var(--text-ff);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-ff);
	font-weight: var(--bold-fw);
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea,
select,
button {
	border: none;
	outline: none;
}

button,
select {
	cursor: pointer;
}

a,
button {
	transition: var(--btn-tr);
}

ul {
	list-style: none;
}

i {
	pointer-events: none;
}
/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo span,
.logo i {
	font-size: var(--xl-fs);
}

.logo span {
	font-weight: var(--bold-fw);
	color: var(--secondary-color);
	font-family: var(--main-ff);
}

.logo i {
	font-weight: var(--semibold-fw);
	color: var(--black-color-00);
}

#title {
	font-size: var(--xxl-fs);
	text-shadow: 2px 2px 100px var(--secondary-color);
}

#subtitle {
	font-size: var(--lg-fs);
	font-weight: var(--bold-fw);
	text-transform: uppercase;
	color: var(--secondary-color);
}

.hidden {
	display: none;
}

/***************** REGISTER *******************/
/***************** NAVBAR *******************/
.navbar-content {
	display: flex;
	align-items: center;
	padding-block: 0.85rem;
}

/***************** FORM *******************/
#form {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2.5rem;
	align-items: flex-start;
	height: 100%;
}

.form-text,
.form-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-text {
	gap: 0.85rem;
}
/***************** FORM TEXT *******************/
.text-btn {
	background-image: linear-gradient(
		32deg,
		var(--primary-color),
		var(--secondary-color)
	);
	border-radius: 0.33rem;
	padding-block: 0.75rem;
	padding-inline: 2.75rem;
	color: var(--white-color-00);
	box-shadow: var(--secondary-bs);
	text-transform: capitalize;
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
	width: fit-content;
}

.text-btn:hover {
	background-image: linear-gradient(
		-32deg,
		var(--primary-color),
		var(--secondary-color)
	);
}

/************** End of FORM TEXT ***************/

/***************** FORM AREA *******************/
.form-box {
	background-color: var(--white-color-00);
	border-radius: var(--light-radius);
	box-shadow: var(--secondary-bs);
	position: relative;
	max-width: 80%;
	margin: 0 auto;
	gap: 0.85rem;
	padding-bottom: 2.95rem;
	z-index: 0;
}

.form-header {
	background-color: var(--secondary-color);
	border-bottom-left-radius: var(--circle-radius);
	border-bottom-right-radius: var(--circle-radius);
	padding-top: 1.25rem;
	padding-bottom: 3.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top-left-radius: var(--light-radius);
	border-top-right-radius: var(--light-radius);
}

.form-title {
	font-size: var(--xl-fs);
	text-transform: uppercase;
}

.form-subtitle {
	text-transform: capitalize;
	font-weight: var(--semibold-fw);
}

.input-field {
	display: flex;
	flex-direction: column;
	gap: 0.35rem;
	margin-inline: 2.75rem;
	position: relative;
}

.input-field label {
	color: var(--secondary-color);
	font-weight: var(--semibold-fw);
	font-size: var(--sm-fs);
}

.input-field input {
	border: 1px solid var(--gray-color-00);
	padding-inline: 1.85rem;
	padding-block: 0.55rem;
	border-radius: var(--light-radius);
}

.input-field .icon,
.input-field .password-visibility,
.input-field .password-confirmation-visibility {
	position: absolute;
}

.input-field .icon {
	color: var(--secondary-color);
	top: 2rem;
	left: 0.55rem;
}

.input-field .password-visibility,
.input-field .password-confirmation-visibility {
	color: var(--gray-color-00);
	top: 2rem;
	right: 0.55rem;
	cursor: pointer;
}

.input-field .password-visibility:hover,
.input-field .password-confirmation-visibility:hover {
	color: var(--black-color-00);
}

.form-btn {
	position: absolute;
	bottom: -50px;
	border-radius: var(--light-radius);
	left: 50%;
	background-color: var(--secondary-color);
	transform: translate(-50%, -50%);
	color: var(--white-color-00);
	height: 50px;
	width: calc(100% - 5.5rem);
	font-size: var(--base-fs);
	font-weight: var(--medium-fw);
	z-index: 10;
	background-image: linear-gradient(
		32deg,
		var(--primary-color),
		var(--secondary-color)
	);
}
/************** End of FORM AREA ***************/
/************** End of REGISTER ***************/

/***************** IMAGE WAVE *******************/
/* TODO: Create IMAGE WAVE style */
/************** End of IMAGE WAVE ***************/

/***************** RESPONSIVENESS *******************/
