/***************** Variables *******************/
:root {
	/* Colors */
	--white-color-00: #fff;
	--gray-color-00: #777;
	--primary-color: #00c16c;
	--secondary-color: #004443;
	--black-color-00: #000;

	/* Font Size */
	--sm-fs: 0.875rem;
	--base-fs: 0.975rem;
	--lg-fs: 1.175rem;
	--xl-fs: 1.5rem;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
	--input-pi: 0.85rem;
	--input-pb: 0.55rem;

	/* Transition */
	--btn-tr: 0.45s ease-in-out;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--white-color-00);
	overflow-x: hidden;
	font-size: var(--base-fs);
	color: var(--black-color-00);
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea,
select,
button {
	border: none;
	outline: none;
}

button,
select {
	cursor: pointer;
}

a,
button {
	transition: var(--btn-tr);
}

ul {
	list-style: none;
}

i {
	pointer-events: none;
}
/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

/***************** REGISTER *******************/
/* TODO: Create REGISTER style */
/***************** FORM TEXT *******************/
/* TODO: Create FORM TEXT style */
/************** End of FORM TEXT ***************/

/***************** FORM AREA *******************/
/* TODO: Create FORM AREA style */
/************** End of FORM AREA ***************/
/************** End of REGISTER ***************/

/***************** IMAGE WAVE *******************/
/* TODO: Create IMAGE WAVE style */
/************** End of IMAGE WAVE ***************/

/***************** RESPONSIVENESS *******************/
